/create-gui-applications-with-python-amp-qt6-5th-edition-pyside6-the-hands-on-guide-to-making-apps-with-python-5-5nbsped_compress.pdf
/hellp.ipynb
/index.html
/output_images
/Safety_Helmet_Dataset.zip
/Servet_get_image.py
/yolov8s.pt